{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <div class="logo-container">
      <img align='center' src="{{ url_for('static', filename='images/logo.png') }}">
    </div>
    <br>
    <br>
    <br>
    <p class="center-text">
      M42 is an Abu Dhabi-based, global tech-enabled health company. It combines G42 Healthcare's unique medical and data-centric technologies with Mubadala Health's world-class patient services and state-of-the-art facilities to provide the highest level of personalized, precise, and preventative care. Operating at the forefront of medical advancement, M42 is set to transform the way care is delivered, bridging the gap between the latest healthtech advancements and the clinical outcomes patients receive. The company is seeking to transform lives through innovative clinical solutions that can solve the world's most critical health and diagnostic challenges.
    </p>
    <p class="center-text">
      <a href="https://m42.ae/">Learn more about M42</a>
    </p>
  </div>
{% endblock %}